*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main { 
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/images/sand_wall.jpg);
    color: rgb(100, 0, 150) ;
}

h1{
    font-size: 75px;
    width: 100vw;
    text-align: center;
}
p{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
form{
    width: 45vw;
    height: 400px;
    background-image: url(../assets/images/urn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input{
    background-color: black;
    width: 40vw;
    height: 5vh;
    margin: 2vh;
    color: white;
    border-radius: 2.5vh;
    padding: 0 1vw ;
}
button{
    background-color: rgb(100, 0, 150);
    color: white;
    width: 40vw;
    height: 5vh;
    margin: 2vh;
    border-radius: 2.5vh;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
}